body {
    font-family: sans-serif;
    background-color: lightyellow;
    margin-top: 75px;
    background-image: url("ui/bg.jpg");
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}


.text-big {
    font-size: 300%;
    
}

.bold {
    font-weight: bold;
}


.center1 {
    margin: auto;
    border: 2px solid #73AD21;
    padding: 30px;
    bottom-padding: 30px;
    text-align: center;
    color: green;
    font-size: 200%;
    font-family: Courier New;
    width: 350px;
    height: 75px;
    font-weight: bold;
    background-color: lightgreen;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s;
    animation-name: example;
    animation-duration: 7s;
}

@-webkit-keyframes example {
    from {background-color: lightblue;}
    to {background-color: lightpink;}
}


/* Standard syntax */
@keyframes example {
    from {background-color: lightblue;}
    to {background-color: lightpink;}
}
